*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container{
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.wrapper{
  width: 1200px;
  height: 80vh;
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 30px;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ul{
  display: flex;
  align-items: center;
  list-style: none;
}

.ul a{
  text-decoration: none;
}

.item{
  color: black;
  font-weight: 500;
  margin-right: 20px;
}

.login{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
}

.content{
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.left{
  flex: 50%;
  display: flex;
  flex-direction: column;
  text-decoration: left;
}


.title-1{
  font-size: 40px;
  font-weight: 400;
}

.title-2{
  font-size: 30px;
  font-weight: 900;
}

.t-desc{
  margin-top: 10px;
  color: gray;
  line-height: 25px;
}

.buttons{
  display: flex;
  margin-top: 25px;
}

.btn1{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  border: none;
  font-size: 12px;
  cursor: pointer;
}

.btn2{
  background-color: white;
  border: none;
  padding-left: 30px;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  cursor: pointer;
}

.fa-play-circle{
  position: absolute;
  font-size: 20px;
  margin-right: 15px;
  left: 0;
  top: 8px;
}

.recommend{
  margin-top: 100px;
  font-size: 16px;
}

.parent{
  display: flex;
  align-items: center;
}

.card{
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 20px 3px lightgray;
  margin-top: 50px;
  padding: 15px;
  border-radius: 10px;
}

.person{
  width: 100px;
  object-fit: cover;
}

.card-right{
  margin-left: 5px;
}

.c-title{
  font-weight: bold;
  font-size: 12px;
}

.c-job{
  font-size: 10px;
  color: gray;
  margin-top: 5px;
}

.stars{
  color: orange;
}

.arrow-container{
  margin-left: 20px;
  margin-top: 50px;
}

.fa-long-arrow-right{
  background-color: black;
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.right{
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img{
  width: 360px;
  position: relative;
}

.small-img{
  width: 60px;
}

.card1{
  position: absolute;
  left: 53%;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px lightgray;
}

.d-name{
  margin-top: 10px;
  font-size: 12px;
  font-weight: bold;
}

.d-job{
  font-size: 10px;
  color: gray;
}

.card2{
  position: absolute;
  background-color: white;
  width: 150px;
  height: 70px;
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
  right: 15%;
  box-shadow: 0px 0px 15px 0px lightgray;
}

.fa-poll-people{
  font-size: 30px;
  margin-right: 20px;
}

.applicants{
  font-size: 14px;
  font-weight: 400;
}

.num{
  font-size: 15px;
  margin-top: 5px;
}


.card3{
  position: absolute;
  box-shadow: 0px 0px 15px 0px lightgray;
  display: flex;
  align-items: center;
  left: 58%;
  top: 80%;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  width: 120px;
  height: 50px;
}

.skills{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 3px;
}

.fa-chart-bar{
  font-size: 35px;
  margin-left: 20px;
}


